<a href="https://colab.research.google.com/github/mminjjii/code_3rd/blob/main/CTBA_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 두가지 이상의 선택, 다방향 선택구조 코딩
 - 배송료 처리 3가지로 작성
 - 변수 : price, 가격 10만원 이상 0원, 2만원 이상 3000원, 그외 5천원

In [ ]:
print("배송료를 계산합니다.")                 # "배송료를 계산합니다."를 출력합니다.
print("#" * 30)                               # "#" 문자를 30번 반복하여 출력합니다.
price = int(input("구입금액 입력"))           # 사용자에게 구입금액을 입력하라는 안내 메시지를 출력하고, 입력값을 정수로 변환하여 `price` 변수에 저장합니다.
if price >= 100000:                           # 만약 `price`가 100000 이상이라면
  shipping_cost = 0                           # 배송료를 0으로 설정합니다.
else:                                         # 그렇지 않으면 (즉, `price`가 100000 미만이라면)
  if price >= 20000:                          # 만약 `price`가 20000 이상이라면
   shipping_cost = 3000                       # 배송료를 3000으로 설정합니다.
  else:                                       # 그렇지 않으면 (즉, `price`가 20000 미만이라면)
   shipping_cost = 5000                       # 배송료를 5000으로 설정합니다.
print(f'배송료는 {shipping_cost}원 입니다.')  # 배송료를 출력합니다.

배송료를 계산합니다.
##############################
구입금액 입력19000
배송료는 5000원 입니다.

2. 환영합니다. 5번출력, 10번 출력, 30번 출력

In [ ]:
print ("환영합니다.")     # 4번 반복
print ("환영합니다.")
print ("환영합니다.")
print ("환영합니다.")

환영합니다.
환영합니다.
환영합니다.
환영합니다.

In [ ]:
print ("환영합니다.wn" * 5)

환영합니다.wn환영합니다.wn환영합니다.wn환영합니다.wn환영합니다.wn

In [ ]:
count = 1                                      # 변수 `count`를 1로 초기화합니다.
while count <= 5:                              # `count`가 5 이하인 동안 반복합니다.
   print("(", count, ")", "환영합니다.")       # "(", `count`, ")", "환영합니다."을 출력합니다.
   print(F'({count})'," 환영합니다.")          # `count`를 포함한 환영 메시지를 출력합니다.
   #count = count + 1
   count +=1                                   # `count`를 1 증가시킵니다.

( 1 ) 환영합니다.
(1)  환영합니다.
( 2 ) 환영합니다.
(2)  환영합니다.
( 3 ) 환영합니다.
(3)  환영합니다.
( 4 ) 환영합니다.
(4)  환영합니다.
( 5 ) 환영합니다.
(5)  환영합니다.

3. 0부터 9까지 출력하는 코드작성
 - 변수 : X

In [ ]:
x = 0                      # 변수 `x`를 0으로 초기화합니다.
while x < 10:              # `x`가 10보다 작은 동안 반복합니다.
  print(x, end=' ')        # `x`를 출력하고 공백 문자로 끝을 나타냅니다.
  x += 1                   # `x`를 1 증가시킵니다.

0 1 2 3 4 5 6 7 8 9

4. 1부터 10까지 정수의 합을 계산하여 출력하는 코드

In [ ]:
x = 1                          # 변수 `x`를 1로 초기화합니다.
total = 0                      # 변수 `total`을 0으로 초기화합니다.
while x <= 10:                 # `x`가 10 이하인 동안 반복합니다.
  total = total + x            # `total`에 `x`를 더한 값을 저장합니다.
  x += 1                       # `x`를 1 증가시킵니다.
print(total)                   # `total`을 출력합니다.

55

In [ ]:
x = 1
while 1<=

5. 3-6-9 게임(3의 배수 판단): 3의 배수를 3으로 나누면 나머지가 0이 되므로(i mod 3)의 값이 0이면 박수를 출력, 아니면 숫자를 출력해주는 코드작성

In [ ]:
i = 1                                                    # 변수 i는 0으로 선언
while i <= 30:                                           # 반복문 while사용해서 i가 30보다 작거나 같을때
  if i % 3 == 0:                                         # 만약 i값을 3으로 나눈 나머지가 0이면
      print("박수", end=' ')                             # 박수를 출력하고 공백을 하나 만듦                                                        #
  else:                                                  # 위의 것이 아니면,
      print(i, end=' ')                                  # i값만 출력하고 공백 하나 만듦
  i += 1                                                 # 변수 i값에 i와 1를 더해서 다시 변수 i에 선언

1 2 박수 4 5 박수 7 8 박수 10 11 박수 13 14 박수 16 17 박수 19 20 박수 22 23 박수 25 26 박수 28 29 박수

In [ ]:
for num in range(1, 11):                                # 1부터 11까지의 숫자를 반복
 if num % 3 == 0:                                       # 숫자(num)를 3으로 나눈 나머지가 0인 경우
   print("박수" , end=' ')                              # 박수를 출력하고 공백을 만듦
else:                                                   # 그게 아니면
   print(num, end=' ')                                  # 숫자만 출력하고 공백 만듦

박수 박수 박수 10

6. 팩토리얼 계산하는 코드 작성

In [ ]:
i = 4                          # 변수 `i`를 4로 초기화합니다.
factorial = 1                  # 변수 `factorial`을 1로 초기화합니다.
while i >= 1:                  # `i`가 1 이상인 동안 반복합니다.
  factorial = factorial * i    # `factorial`에 `i`를 곱한 값을 저장합니다.
  i -= 1                       # `i`를 1 감소시킵니다.
print(factorial)               # `factorial`을 출력합니다.

24

In [ ]:
num = int(input("팩토리얼 값입력: "))       # 사용자로부터 정수 값을 입력받아 변수 `num`에 저장합니다.
factorial = 1         # 변수 `factorial`을 1로 초기화합니다.
while num >= 1:      # `num`이 1 이상인 동안 반복합니다.
  factorial = factorial * num         # `factorial`에 `num`을 곱한 값을 저장합니다.
  num -= 1            # `num`을 1 감소시킵니다.
print("계산된 팩토리얼 값은 :", factorial)   # 계산된 팩토리얼 값을 출력합니다.

팩토리얼 값입력: 5
계산된 팩토리얼 값은 : 120